@model SuperMail.Models.MensajeViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detalle de mensaje</h2>

<div>
    <h4>Mensajes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Enviar", "EnviarMensaje", new { id = Model.id , status = "Exito" })
    @Html.ActionLink("EnviarConError", "EnviarMensaje", new { id = Model.id , status = "fallido" })
    
    @Html.ActionLink("Back to List", "Index")
</p>
