@using SuperMail.Models
@model MensajeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista de mensajes</h2>

<p>
    @Html.ActionLink("Crear nuevo mensaje", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Contenido</th>
        <th>Destinatario</th>
    </tr>

@foreach (var item in Model.mensajes) {
    <tr>
        <td>@Html.ActionLink(item.id.ToString(),"Detail",new { id = item.id})</td>
        <td>@Html.DisplayFor(m => item.contenido)</td>
        <td>@Html.DisplayFor(m => item.destinatario)</td>
        <td>
             ||
            @Html.ActionLink("Remover", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
